body {
    margin: 0 auto;
    font-family: sans-serif;
    background-color: rgb(236, 247, 240);
    font-family: 'Raleway', sans-serif;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.heading {
    margin-top: 70px;
}

.active {
    background-color: lightblue;
}

/* Styling af valid/invalid form elementer*/

.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}

/* styling af "menu" under kort */

div div div h5 a {
    color: darkslategrey;
}

div div div h5 a:hover {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
